.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  max-width: 400px;
  margin: auto;
}

.icon {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
}

.task-text {
  flex: 1;
  margin: 0 10px;
}
